extends layout.pug

block content 
  if projects[id-1]
    nav.grid-container.portfolio-breadcrumb
      a(href='/') ← Back
    article.grid-container.portfolio-intro.portfolio-project
      .grid-x
        .cell.small-6.medium-9.large-9
          h1= projects[id-1].project_name
          p.lead.text-light= projects[id-1].description

        .cell.portfolio-meta.small-6.medium-2.large-3
          h6 Technologies
          ul
            each tech in projects[id-1].technologies
              li= tech
              
          a.button.expanded(href=`${projects[id-1].live_link}`, target="_blank") Live Demo
          a.button.expanded(href=`${projects[id-1].github_link}`, target="_blank") GitHub Repo
      
      each screenshot in projects[id-1].image_url[1]
        .box
          img.image(src=`${screenshot}`, width=1200, height=1200)